Node-Red/ESP8266_Node-Red.txt
[{"id":"4e792ace.0c0c04","type":"tab","label":"ESP8266 DSB1820  MQTT"},{"id":"7e25c2d5.f0476c","type":"comment","z":"4e792ace.0c0c04","name":"ESP8266 MQTT Temperature DS18B20 ","info":"","x":378.5,"y":506.66668701171875,"wires":[]},{"id":"866663df.03348","type":"mqtt in","z":"4e792ace.0c0c04","name":"","topic":"temp/sensor","qos":"2","broker":"78975b76.6ffa84","x":315.5,"y":601.3334045410156,"wires":[["cce3ab83.b54588","73fc7aab.c2cd94","559ff7f.63d5408","59fa23b0.f46e5c"]]},{"id":"cce3ab83.b54588","type":"debug","z":"4e792ace.0c0c04","name":"","active":true,"console":"false","complete":"payload","x":625.4999694824219,"y":571.3334045410156,"wires":[]},{"id":"73fc7aab.c2cd94","type":"ui_gauge","z":"4e792ace.0c0c04","name":"","group":"4e2af753.086688","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"ºC","format":"{{value}}","min":"25","max":"35","colors":["#00b500","#e6e600","#ca3838"],"x":609.4999694824219,"y":619.6667175292969,"wires":[]},{"id":"559ff7f.63d5408","type":"ui_chart","z":"4e792ace.0c0c04","name":"5  Min","group":"4e2af753.086688","order":0,"width":0,"height":0,"label":"5  Min","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"5  Min","ymin":"25","ymax":"35","removeOlder":"1","removeOlderUnit":"60","x":611.4999694824219,"y":669.3334045410156,"wires":[[],[]]},{"id":"59fa23b0.f46e5c","type":"ui_chart","z":"4e792ace.0c0c04","name":"1  Hour","group":"4e2af753.086688","order":0,"width":0,"height":0,"label":"1  Hour","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"25","ymax":"35","removeOlder":1,"removeOlderUnit":"3600","x":612.4999694824219,"y":717.3333435058594,"wires":[[],[]]},{"id":"78975b76.6ffa84","type":"mqtt-broker","z":"","broker":"192.168.0.19","port":"1883","clientid":"TEST","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4e2af753.086688","type":"ui_group","z":"","name":"ESP8266 DS18B20 MQTT","tab":"e0a394f8.695aa8","disp":true,"width":"6"},{"id":"e0a394f8.695aa8","type":"ui_tab","z":"","name":"ESP8266","icon":"dashboard","order":2}]